.recenica{
    font-size: 18px;
}
.tekst{
    font-size: 25px;
    margin-right:80px;
    margin-left:80px;
    font-style: italic;
}
.nazana{
    background-image: url(screenshots/nazana.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.eden{
    column-count: 4;
    column-span:all;
    

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.sub-header{
    background-color:lightgoldenrodyellow;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
.sub-header h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
    nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-link{
    flex: 1;
    text-align: right;
    
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;    
}
.nav-link ul li a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.text-box{
    color:#fff;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h2{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    letter-spacing: 1px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    padding: 12px 30px;
    cursor: pointer;
    color: #fff;
    transition: 1s;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}

nav .bi{
    display: none;
   background-image:url(screenshots/nazana.jpg);
}
.profesii{
    text-align-last: left;
    font-size: 17px;
}
@media screen and (max-width: 481px)
{
    .profesii{
    text-align-last: left;
    font-size: 17px;
}
    .eden{
    column-count: 4;
    column-span:all;
        font-size: 10;
    

}

}
</code>